//Primary Colors
$main-backgorund: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

//Secondary colors
$paragraph: hsla(0, 0%, 100%, 0.75);
$stats: hsla(0, 0%, 100%, 0.6);

//RESPONSIVE BREAKPOINTS
$bp-largest: 90.6em;
$bp-large: 72.5em;
$bp-medium: 59.1em;
$bp-small: 37.5em;
